Flask
Flask-SocketIO
python-dotenv
eventlet
gunicorn

google-generativeai
googlemaps

googlesearch-python
aiohttp
beautifulsoup4
lxml
requests

python-weather

websockets

torch
torchvision
torchaudio

gevent
python-engineio
bidict
